{% extends "base.html" %}

{% block title %}Jules' Portfolio{% endblock %}

{% block content %}
    <header>
        {% include "navigation.html" %}
    </header>

    <main>
        {% include "hero.html" %}
        {% include "skills.html" %}
        {% include "projects.html" %}
        {% include "contact.html" %}
    </main>

    <footer class="text-center py-4 bg-gray-900 border-t border-gray-800">
        <p class="text-gray-500">&copy; 2024 Jules. All Rights Reserved.</p>
    </footer>
{% endblock %}